

.contenedor_porfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
   
}

.itemp{
    width: 100px;
    height: 200px;
  
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}
.itemp:hover{
    -webkit-transform:scale(1.50);
    -moz-transform:scale(1.50);
    -ms-transform:scale(1.50);
    -o-transform:scale(1.50);
    transform:scale(1.50);
    color:white;
    text-shadow: 1px 1px 5px blueviolet;
   
}

.itemp{
    background: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: end;
    color: white;
   
    
}
.unop{
    background-image: url("img/1tania.png");
    background-position: center;
}
.dosp{
    background-image: url("img/2argensoft.png");
    background-position: center;
}
.tresp{
    background-image: url("img/3lorelei.png");
    background-position: center;
}
.cuatrop{
    background-image: url("img/4misturnos.png");
    background-position: center;
}
.cincop{
    background-image: url("img/5pediatrica.png");
    background-position: center;
}
.seisp{
    background-image: url("img/6maba.png");
    background-position: center;
}
.sietep{
    background-image: url("img/7santangelo.png");
    background-position: center;
}
.ochop{
    background-image: url("img/8ordencia.png");
    background-position: center;;
}