

.contenedor_porfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    margin: 100px;
    margin-top: 50px;
   
}

.itemp{
    width: 150px;
    height: 150px;
  
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
    filter: grayscale(100%);
}
.itemp:hover{
    -webkit-transform:scale(2.50);
    -moz-transform:scale(2.50);
    -ms-transform:scale(2.50);
    -o-transform:scale(2.50);
    transform:scale(2.50);
    color:white;
    /*text-shadow: 1px 1px 5px blueviolet;*/
    filter: none;
    border: none;
    
}

.itemp{
    background: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: white;
    border-bottom: 2px solid blueviolet;
    position: relative;
    
}
a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.unop{
    background-image: url("img/1tania.png");
    background-position: center;
}
.dosp{
    background-image: url("img/2pediatrica.png");
    background-position: center;
}
.tresp{
    background-image: url("img/3lorelei.png");
    background-position: center;
}
.cuatrop{
    background-image: url("img/4misturnos.png");
    background-position: center;
}
.cincop{
    background-image: url("img/5rinder.png");
    background-position: center;
}
.seisp{
    background-image: url("img/6maba.png");
    background-position: center;
}
.sietep{
    background-image: url("img/7santangelo.png");
    background-position: center;
}
.ochop{
    background-image: url("img/8ordencia.png");
    background-position: center;;
}
.nuevep{
    background-image: url("img/9argensoft.png");
    background-position: center;
}