
.contenedor_porfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
   
}

.itemp{
    width: 100px;
    height: 200px;
    border: 3px solid blueviolet;
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}
.itemp:hover{
    -webkit-transform:scale(1.50);
    -moz-transform:scale(1.50);
    -ms-transform:scale(1.50);
    -o-transform:scale(1.50);
    transform:scale(1.50);
   
}

.itemp{
    background: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: end;
    color: white;
    text-shadow: 10px 10px 10px;
    
}